div { box-sizing: border-box;}
 .logo {padding-top:0px;
 margin:0;
 }
   
 .menu .nav-link span:hover {
    color:#fff;  }
 
  .menu .active  .nav-link span {
    color: #fff;
}
 
 nav{ 
     float:right;
     margin-top:50px} 
 .menu{
      padding: 0;
      margin: 0; 
      display:block;
      }
 .menu li {
      float: left;
      display:block;
      margin-right: 30px}
 .menu a{
      color: Red;
      text-shadow:black 0 0 2px;
      text-decoration: none;
      text-transform: uppercase;
      font-size:25px;}
   
 
 body {    background: url(Tolpa.jpg) no-repeat center top/ cover;
      background-attachment:fixed;
     font-family: Arial, sans-serif;
     padding: 0;
     margin: 0;}
     


 header{ 
     height:200px;
     border-top:none;
     margin-bottom: 50px;
     }   
 .container{     
     width: 1500px;
     margin: 0 auto}
 
      
 .map {border-radius:50px;
          margin-top:30px;
          width:1450px;
          height:540px;
          background:rgba(204,204,204,0.9);
          border:solid 2px white;
          }
 .map .map1 {float:left;
             margin:40px;}
 
 .map  .text {float:right;
                   margin:80px;
                   font-family: Georgia,serif;
                   font-size:30px;}
                   
 .contacts {width:1450px;
            height:900px;
            margin-left:330px;
            margin-top:80px;
            border-radius:50px;
            background:rgba(204,204,204,0.9);
            border:solid 2px white;}
            
            .block1{width:725px;
            height:1000px;
            float:left;}
            
            .block2 {width:715px;
            height:1000px;
            float:right;}
            
 .contacts .cont {margin-left:200px;}
 .contacts .cont1 {margin-left:180px;}
            
 .contacts p{ font-size:30px;
              margin-left:300px;
              margin-bottom:50px;
              font-family:Georgia,serif;
              display:inline-block;}
              
              